.product-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.product-page img {
    width: 50%;
}

.product-page h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 0px;
    color: #F5842D;
    text-align: left;
}

.product-page h2 {
    font-size: 20px;
    font-weight: 400;
    color: #F5842D;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.product-page h3 {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 15px;
    text-align: left;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #0000007d;
    position: relative;
    bottom: 15px;
    padding: 15px;
}

.product-page h4 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 15px;
    text-align: left;
    color: #181818;
}

.product-page-buttons {
    width: 100%;
    margin: 10px 0;
}

.product-page-buttons button:first-child {
    color: #F5842D;
    padding-left: 20px;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
    border: 2px solid #F5842D;
    padding: 10px;
    margin: 0;
}

.product-page-buttons button:last-child {
    background-color: #F5842D;
    color: white;
    font-weight: 500;
    font-family: poppins;
    padding-left: 20px;
    width: 100%;
    border-radius: 0px 0px 18px 18px;
    border: none;
    padding: 10px;
    margin: 0;
}

.product-page p {
    margin: 7px 5%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.product-page-description {
    width: 100%;
    padding: 20px 10px;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: #458DBB;
    color: white;
}

.product-page-shiping {
    background-image: url('./container.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-page-tab {
    width: 100%;
    text-align: right;
}
.product-page-tab h1{
    color: white;
    font-size: 15px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #F5842D;
    display: inline;
    padding: 0px 10px;
    position: relative;
    top: 20px;
}

@media only screen and (min-width: 1024px) {
    .product-page-tab {
        left: 85%;
    }

    .product-page img {
        width: 25%;
    }
}