.input-form textarea, input{
    padding: 4px;
    border-radius: 8px;
    border: none;
    width: 100%;
    margin-bottom: 20px;
}

.input-form h2{
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;
}