.simple-banner-section {
    background-image: linear-gradient(178.7deg, rgb(111, 170, 241) 5.6%, rgba(2, 71, 157, 1) 95.3%);
    width: calc(100% - 20px);
    height: 180px;

    padding: 10px;

    border-radius: 18px;

    margin: 10px;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 6.6fr 3.3fr;
    justify-items: center;
}

.simple-banner-section-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
}

.simple-banner-section-action button {
    font-family: "Anton SC", Helvetica, sans-serif;
    text-align: left;
    
    width: 100%;
    
    padding: 5px 15px;
    
    bottom: none;
    
    border-radius: 8px;
    border: none;
    
    background-color: #F04237;
    color: white;
}

.simple-banner-section-action h1 {
    font-size: 12px;
    font-weight: 600;
    font-family: "poppins", Helvetica, sans-serif;
    
    margin: 5px 0;
    
    color: white;
}

.simple-banner-section-img {
    display: flex;
    align-items: end;
}

.simple-banner-section-img img {
    height: 200px;
    transform: translateY(-30px);
}