.popup-container {
    box-sizing: border-box;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 90%;
    max-width: 600px;
    height: 75%;

    padding: 10px 40px;

    box-sizing: border-box;


    z-index: 4;

    border-radius: 18px;

    color: white;
}

.popup a {
    color: white;
    text-decoration: none;
}

.popup h1 {
    font-family: "Anton SC", sans-serif;
    font-size: 15px;
    text-align: left;

    margin: 20px 0px;
    color: #ff5100;
}

.popup h2 {
    font-family: "Anton SC", sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 600;

    margin: 20px 0px;
}

.popup p,
li {
    font-family: "poppins", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 20px 0px;
    line-height: 15px;
    text-align: left;
}

.popup li {
    list-style-image: url("./right-arrow .png");
    list-style-position: inside;
}

.highlight {
    color: orange;
    font-weight: 500;
}

.popup-close {
    width: 105%;
    height: 25px;
    text-align: right;
    z-index: 6;
}

.popup-content {
    overflow: scroll;
    height: calc(100% - 45px);
    border-radius: 18px;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    .popup {
        width: calc(100vw - 200px);
        height: calc(100vh - 200px);
        box-sizing: border-box;
        position: fixed;

        margin: 100px;

    }
}

@media only screen and (min-width: 1024px) {
    .popup-content {
        overflow: scroll;
        scrollbar-width: 30px;
        height: 80%;
    }

    .popup-content::-webkit-scrollbar {
        background-color: transparent;
    }
}