.main {
    position: relative;
}
@media only screen and (min-width: 425px) {
    .main {
        width: 90%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1024px) {
    .main {
        width: 70%;
        margin: 0 auto;
    }
}
