.login-form {
    background-image: linear-gradient(to right, #434343 0%, black 100%);    color: white;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
    box-sizing: border-box;
    font-family: "Anton SC", sans-serif;
    padding: 20px 50px;
    max-width: 500px;
}

.login-form h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .login-form {
        margin: 20px auto;
    }
}