.desconect-button{
    width: calc(100% - 40px);
    min-height: 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 8px;
    font-family: "Anton SC", sans-serif;
}
.desconect-button h1{
    font-family: "Anton SC", sans-serif;
    font-size: 13px;
}
.desconect-button li:first-child{
    margin-top: 20px;
}
.desconect-button li{
    font-family: "poppins", sans-serif;
    font-size: 10px;
    margin: 0;
    list-style: disc;
    list-style-position: inside;    
}